@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Information Management System</h1>
    <br/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Information Management System</h2>
        <p>
            Information Management System is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the project source code from GitHub (WIP).</p>
        <p>
            <a class="btn btn-default" href="">See project source code &raquo;</a>
        </p>
    </div>
</div>