@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>IMS</h1>
    <br/>
</div>
<div class="row">
    <p>
        An <b>Information Management System</b> with full CRUD functionality to manage University students, courses and enrollments records.
    </p>
    <p>
        Check out the different entries in the nav-bar above to try it out.
    </p>
    <p>
        <a class="btn btn-default" href="https://github.com/Riju-bak/InformationManagementSystem/tree/master">See project source code &raquo;</a>
    </p>
</div>